node_modules/
downloads/
.env
cookies.txt
*_cookies.txt



test 1 : single yt video 
link https://youtu.be/j3ExODI3LU8?si=vqF5FhUVZTlQl65q
status pass
test 2 : yt playlist 
link : https://www.youtube.com/playlist?list=PLV2tWeQnHrKaMiVnH510tGaxGYuDi5GTy
status : fully pass 

test 3 :  singel insta reel

link : https://www.instagram.com/reel/DYUVW1TzzNl/?utm_source=ig_web_copy_link&igsh=NTc4MTIwNjQ2YQ==
status: fecth the data but dowload faidl and error show :
clinet : main.js:109  GET https://www.sw-yt.tech/api/info?url=https%3A%2F%2Fwww.instagram.com%2Freel%2FDYUVW1TzzNl%2F%3Futm_source%3Dig_web_copy_link%26igsh%3DNTc4MTIwNjQ2YQ%3D%3D 500 (Internal Server Error)
(anonymous) @ main.js:109
main.js:118 Extraction Error: Failed to extract video details: ERROR: [Instagram] DYUVW1TzzNl: Requested content is not available, rate-limit reached or login required. Use --cookies-from-browser or --cookies for the authentication. See  https://github.com/yt-dlp/yt-dlp/wiki/FAQ#how-do-i-pass-cookies-to-yt-dlp  for how to manually pass cookies

[Info] Cookies file present: true
[Info] Using binary: /usr/local/bin/yt-dlp
[Info] Error fetching video info: ERROR: [Instagram] DYUVW1TzzNl: Requested content is not available, rate-limit reached or login required. Use --cookies-from-browser or --cookies for the authentication. See  https://github.com/yt-dlp/yt-dlp/wiki/FAQ#how-do-i-pass-cookies-to-yt-dlp  for how to manually pass cookies
[Info] Fetching info for: https://www.instagram.com/reel/DYUVW1TzzNl/?utm_source=ig_web_copy_link&igsh=NTc4MTIwNjQ2YQ==
[Info] IG Scraper early fetch failed: Failed instagram request: Request failed with status code 401
[Info] Using binary: /usr/local/bin/yt-dlp
[Info] Error fetching video info: ERROR: [Instagram] DYUVW1TzzNl: Requested content is not available, rate-limit reached or login required. Use --cookies-from-browser or --cookies for the authentication. See  https://github.com/yt-dlp/yt-dlp/wiki/FAQ#how-do-i-pass-cookies-to-yt-dlp  for how to manually pass cookies


test4 : insta post which containe multi image 
link : https://www.instagram.com/p/DYcx30WE7c1/?utm_source=ig_web_copy_link&igsh=NTc4MTIwNjQ2YQ==
status pass but this is an image so why are you shwoing download mp4 or mp3 i told you to handle it vai image 
also not all the image showing only showing first image like single image link so fix issue now 

test 5 : singel insta post 
link: https://www.instagram.com/p/DYtE2ZhztN4/?utm_source=ig_web_copy_link&igsh=NTc4MTIwNjQ2YQ==
error on clinet : Extraction Error: Cannot read properties of null (reading 'classList')
error on sever : [Info] Fetching info for: https://www.instagram.com/p/DYtE2ZhztN4/?utm_source=ig_web_copy_link&igsh=NTc4MTIwNjQ2YQ==
[Info] Cookies file present: true
[Info] Using binary: /usr/local/bin/yt-dlp
we have some progress but now fully complete 